[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solstat"]
	path = lib/solstat
	url = https://github.com/primitivefinance/solstat
[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/solm"]
	path = lib/solm
	url = https://github.com/Rari-Capital/solmate
