node_modules
.env
coverage
coverage.json
typechain-types
yarn-error.log

#Hardhat files
artifacts/
hh-cache/


# Foundry
forge-cache/
cache
out
optimized-out
broadcast

# macOS
.DS_Store

# Differential testing
test/differential/data
test/differential/scripts/node_modules

# coverage
lcov.info

# echidna
crytic-export/
corpus/


