[profile.default] # all profiles inherit from this
solc = '0.8.13' 
src = 'contracts'
out = 'out' # default
test = 'test' # default
libs = ['lib', 'node_modules']
cache = false # !important! breaks echidna if cache = true.
remappings = [
    'forge-std/=lib/forge-std/src/',
    'solmate/=lib/solmate/src/',
    'solstat/=lib/solstat/src/'
]

[profile.optimized] # uses via_ir and optimizer
via_ir = true
out = 'optimized-out'
optimizer_runs = 15000
fuzz_runs = 256
fuzz_max_local_rejects = 65536
fuzz_max_global_rejects = 1024

[profile.test] # does not use optimizer
src = 'test/' # not default
gas_reports = ["*"]
ffi = true
fuzz_runs = 256


[profile.crytic]
via_ir = false
src = 'test/crytic' # not default
test = 'test/crytic' # not default


[rpc_endpoints]
primitive = "http://${PRIMITIVE_RPC}:8545"
ganache = "http://127.0.0.1:8546"


# See more config options https://github.com/gakonst/foundry/tree/master/config

[fuzz]
# The number of fuzz runs for fuzz tests
runs = 256
# The maximum number of test case rejections allowed by proptest, to be
# encountered during usage of `vm.assume` cheatcode. This will be used
# to set the `max_global_rejects` value in proptest test runner config.
# `max_local_rejects` option isn't exposed here since we're not using
# `prop_filter`.
max_test_rejects = 65536
# The weight of the dictionary
dictionary_weight = 40
# The flag indicating whether to include values from storage
include_storage = true
# The flag indicating whether to include push bytes values
include_push_bytes = true

[invariant]
# The number of runs that must execute for each invariant test group
runs = 256
# The number of calls executed to attempt to break invariants in one run
depth = 20
# Fails the invariant fuzzing if a revert occurs
fail_on_revert = false
# Allows overriding an unsafe external call when running invariant tests. eg. reentrancy checks
call_override = false
# The weight of the dictionary
dictionary_weight = 80
# The flag indicating whether to include values from storage
include_storage = true
# The flag indicating whether to include push bytes values
include_push_bytes = true